<ul class="navbar-nav align-items-center gap-2 m-0 p-0">
    <li class="nav-item">
        <a class="nav-link fw-medium text-dark" href="#">สมัครสมาชิก</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-otop px-4 rounded-pill shadow-sm" href="#">เข้าสู่ระบบ</a>
    </li>
</ul>