@model WebApplication1.Viewmodels.LabUserViewModel


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="align-items-center"
         style="border-radius: 15px; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 350px; margin: auto;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt=""
             style="width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto;">
        <h3 class="text-center">เข้าสู่ระบบ</h3>
        <form asp-controller="Account" asp-action="Login">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <label class="col-form-label">เบอร์ :</label>
                    <input type="text" asp-for="Phone_number" class="form-control" />
                </div>

                <div class="row align-items-center mb-3">
                    <div class="col">
                        <label class="col-form-label">รหัสผ่าน :</label>
                        <input type="password" asp-for="Password_hash" class="form-control" />
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <span class="row ">
                        <button type="button" class="btn btn-link btn-sm">ลืมรหัสผ่าน</button>
                    </span>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-link">สมัครสมาชิก</button>
                </div>

            </form>
        </div>
    </body>

</html>