@model WebApplication1.Viewmodels.LabUserViewModel

@{
    Layout = "_Aomsin";
}

<div>hello world</div>
<div class="row">
    <div class="col-3 border" style="border: 1px">col-3</div>
    <div class="col-3 border" style="border: 1px">col-3</div>
    <div class="col-3 border" style="border: 1px">col-3</div>
    <div class="col-3 border" style="border: 1px">col-3</div>
</div>
<div class="row">
    <div class="col-sm-3 border" style="border: 1px">col-sm-3</div>
    <div class="col-sm-3 border" style="border: 1px">col-sm-3</div>
    <div class="col-sm-3 border" style="border: 1px">col-sm-3</div>
    <div class="col-sm-3 border" style="border: 1px">col-sm-3</div>
</div>
<div class="row">
    <div class="col-lg-3 border" style="border: 1px">col-lg-3</div>
    <div class="col-lg-3 border" style="border: 1px">col-lg-3</div>
    <div class="col-lg-3 border" style="border: 1px">col-lg-3</div>
    <div class="col-lg-3 border" style="border: 1px">col-lg-3</div>
</div>
<div class="row">
    <div class="col-xl-3 border" style="border: 1px">col-xl-3</div>
    <div class="col-xl-3 border" style="border: 1px">col-xl-3</div>
    <div class="col-xl-3 border" style="border: 1px">col-xl-3</div>
    <div class="col-xl-3 border" style="border: 1px">col-xl-3</div>
</div>

<div class="container" style="border: 1px solid #ff0000">
    Container
</div>
<div class="container-fluid" style="border: 1px solid #ff0000">
    Container-fluid
</div>
<p class="text-start">
    text-start
</p>
<p class="text-center">
    text-center
</p>
<p class="text-end">
    text-end
</p>
<div class="container">
    <div class="text-center">
        <H1>Promotion 11.11</H1>
        <blockquote class="blockquote">โปรโมชั้น ฉลอง11 เดือน11</blockquote>
        <footer class="blockquote-footer">ที่มา : อาจารย์นัท</footer>
    </div>
</div>

<div class="btn-group">
    <button>ปุ่มธรรมดา</button>
    <button class="btn">ปุ่มbootstrap</button>
    <button class="btn btn-primary">ปุ่มprimary</button>
    <button class="btn btn-secondary">ปุ่มsecondary</button>
    <button class="btn btn-info">ปุ่มinfo</button>
    <button class="btn btn-warning">ปุ่มwarning</button>
    <button class="btn btn-danger">ปุ่มdanger</button>
    <button class="btn btn-success">ปุ่มsuccess</button>
    <button class="btn btn-dark">ปุ่มdark</button>
    <button class="btn btn-light">ปุ่มlight</button>
    <button class="btn btn-link">ปุ่มlink</button>
</div>
