@{
    Layout = "_Aomsin";
}
<div class="text-center" style="border: 1px">
    <h1>Welcome to สินค้า Otop</h1>
</div>
<div class="container-fluid">
    <div class="text-center">
        <h1>OTOP คืออะไร?</h1>
        <p class="text-start">OTOP ย่อมาจาก คำว่า “One Tambon One Product” ซึ่งแปลเป็นไทยคือ “หนึ่งตำบล หนึ่งผลิตภัณฑ์”
            เป็นโครงการที่มีวัตถุประสงค์ในการส่งเสริมและพัฒนาการผลิต สินค้าท้องถิ่น ในระดับตำบลของประเทศไทย
            โดยเน้นการนำความเป็นเอกลักษณ์ของแต่ละพื้นที่มาพัฒนาเป็น ผลิตภัณฑ์ OTOP ที่มีคุณค่าและความน่าสนใจ
            เพื่อเสริมสร้างรายได้ให้กับชุมชนท้องถิ่น โดยเป้าหมายของโครงการคือการสร้างชุมชนที่มั่งคั่งและยั่งยืน
            ผ่านการทำธุรกิจผลิตภัณฑ์ท้องถิ่นที่มีคุณภาพและเอกลักษณ์เฉพาะตัวของแต่ละพื้นที่
            โครงการนี้เป็นส่วนสำคัญมากในการส่งเสริมเศรษฐกิจท้องถิ่นและการปรับปรุงคุณภาพชีวิตของชุมชนที่เข้าร่วมโครงการนี้
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://www.otopchiangmai.com/uploads/3002e6a26cbe255e70924eb483737a9e.jpg" class="img-fluid"
                 alt="Otop Image 1" />
        </div>
        <div class="col-sm-4">
            <img src="https://mpics.mgronline.com/pics/Images/551000001738201.JPEG" class="img-fluid"
                 alt="Otop Image 2" />
        </div>
        <div class="col-sm-4">
            <img src="https://otopth.com/wp-content/uploads/2023/08/Untitled-3-300x164.png" class="img-fluid"
                 alt="Otop Image 3" />
        </div>
    </div>
<div>
    @ViewBag.Phone_number
    @ViewBag.Password_hash
</div>
</div>