@{
    Layout = "_Aomsin";
}
<div class="text-center">
    <h1 class="display-4">Welcome SPU page</h1>
    <p>@ViewBag.StudentDetails</p>
    <p>คะแนนรวม = @ViewBag.Total</p>
    <p>เกรด = @ViewBag.Grade</p>
    <p>@ViewBag.Comment</p>
</div>